* {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between; /* pushes the first child to the left and the last child to the right with space in between */
    align-items: center; /*children are vertically centered within the headers height*/
    padding: 20px;
    background-color: #1f2937;
    color: white;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    display: flex; /*flexbox of the three header links*/
    gap: 20px;
}

.navbar a {
    line-height: 1;
    color: white;
    text-decoration: none;
    font-size: 18px;
} 

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
    font-weight: 900;
    color: #f9faf8;
    background-color: #1f2937;
    text-align: left;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 18px;
}